---
---

$body-color: rgb(40, 53, 83);
$text-font: rgba(254, 252, 253, 1);
$blue: #045afa;

@mixin gradient {
  background: #05d5ff;
  background: -moz-linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  background: -webkit-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  background: -webkit-linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  background: -o-linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  background: -ms-linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53f', endColorstr='#a6ffcb', GradientType=1);
}

body {
  overflow-x: hidden;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: $text-font;
  background-color: $body-color;
}

main {
  @include gradient;
  width: 100%;
  transform: skewY(-12deg);
  transform-origin: 0;
}
.wrapper {
  padding: 40px 10px;
  transform: skewY(12deg);

  @media screen and (min-width: 768px) {
    padding: 9% 1% 4%;
  }
}

header {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  background-color: #4553ff;
  min-height: 50px;

  a {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;

    @media screen and (min-width: 568px) {
      width: 90px;
      height: 90px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.header {
  text-align: center;

  p {
    font-size: 25px;
    @media (max-width: 768px) {
      font-size: 16px;
      margin: 0 10px;
    }
    @media screen and (max-width: 568px) {
      font-size: 12px;
    }
  }
  .logo-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 8px;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 30px;
      letter-spacing: 4px;
    }
    @media screen and (max-width: 568px) {
      font-size: 24px;
      white-space: nowrap;
    }
  }
  .logo-name, p {
    color: #a6fff7;
    text-shadow: 1px 1px 2px $body-color;
  }
}

.information {
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  @media screen and (max-width: 568px) {
    padding-bottom: 5px;
  }
  .check-in {
    color: $body-color;
    font-size: 24px;
    margin-bottom: 0;
    @media (max-width: 1240px) {
      font-size: 18px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      padding-right: 1.5rem;
    }
    @media screen and (max-width: 568px) {
      font-size: 12px;
      display: -webkit-box;
      display: inline-flex;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      -webkit-box-orient: vertical;
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding-right: 0.5rem;
      & + a {
        margin: 0.5rem;
      }
    }
    & + a {
      display: block;
      width: 200px;
      margin: 0 auto;
      color: $blue;
      background-color: rgba(0,255,206,.85);
      text-transform: uppercase;
      padding: 0.6rem 1rem;
      font-size: 20px;
      border-radius: 9px;
      text-align: center;
      margin-top: 20px;
      &:hover, &:focus {
        -webkit-box-shadow: inset 0px 0px 6px 0px rgba(4,90,250, 19);
        -moz-box-shadow: inset 0px 0px 6px 0px rgba(4,90,250, 19);
        box-shadow: inset 0px 0px 6px 0px rgba(4,90,250, 19);
      }
    }
  }
  a {
    text-decoration: none;
    color: $body-color;
    font-size: 20px;
    vertical-align: middle;
    @media (max-width: 1240px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      font-size: 12px;
      margin: auto;
    }
  }
}

.animated:hover {
  animation: bounceOut 1.5s;
}

.calendar {
  display: block;
  width: 170px;
  height: auto;
  padding: 0.5rem;
  background-color: rgba(0,255,206,.85);
  border-radius: 9px;
  box-sizing: border-box;
  margin: auto;

  @media screen and (max-width: 568px) {
    width: 140px;
  }
  &:hover {
    animation: tada 1.2s;
    -webkit-animation: tada 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  span {
    margin: 0;
    padding-bottom: 0.3rem;
    font-size: 30px;
    color: $blue;
    text-transform: uppercase;
    @media screen and (max-width: 568px) {
      font-size: 22px;
    }
  }
}

span.date {
  font-size: 46px;
  font-weight: bold;
  @media screen and (max-width: 568px) {
    font-size: 24px;
  }
}

span.time {
  color: #D62828;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 140px;
    height: 2px;
    background-color: #D62828;
    margin: auto;
    @media screen and (max-width: 568px) {
      width: 110px;
    }
  }
}

.location {
  display: block;
  width: 100%;
  margin: 0 auto;
  img {
    width: 30px;
    vertical-align: bottom;
    @media (max-width: 768px) {
      width: 20px;
    }
  }
  &:hover {
    text-decoration: underline;
  }
}

.reports {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 815px;
  box-sizing: border-box;
  transform: skewY(12deg);
  margin-top: -11%;

  &-inner {
    margin: 2rem auto;
    max-width: 960px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    transform: skewY(-12deg);
    &:first-child {
      @media (min-width: 768px) {
        margin-bottom: 5em;
      }
    }
    @media (max-width: 767px) {
      -webkit-box-orient: vertical;
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
    }
    img {
      display: block;
      -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      width: 150px;
      height: 160px;

      margin-right: 15px;
      margin-top: 15px;
      @media (min-width: 768px) {
        position: absolute;
        top: -80px;
        left: 0;
      }
      @media (max-width: 767px) {
        margin: auto;
      }
    }
  }
  &-block {
    -webkit-flex: 5;
    -webkit-box-flex: 5;
    -moz-flex: 5;
    -moz-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    @media (max-width: 568px) {
      width: 100%;
    }
    h3 {
      text-align: center;

      @media (min-width: 768px) {
        margin-left: 180px;
        text-align: left;
      }
      a {
        color: $text-font;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      @media (max-width: 768px) {
        font-size: 1em;
      }
      @media screen and (max-width: 568px) {
        font-size: 0.9em;
      }
    }
    .topic {
      color: rgba(0, 255, 206, 0.85);
    }
    &-speaker {
      color: $blue;
    }
    &-description {
      width: 100%;

      @media (max-width: 768px) {
        font-size: 1em;
      }
      p {
        letter-spacing: 0.7px;
        line-height: 20px;
      }
    }
  }
}

footer {
  width: 100%;
  @include gradient;
}

ul {
  width: 100%;
  max-width: 960px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 2rem 0;
  margin: 0 auto;
  @media (max-width: 700px) {
    -webkit-box-orient: vertical;
    webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-items: center;
    padding: 2rem 0;
  }
  li {
    list-style-type: none;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 30px;
    text-align: center;
    @media (min-width: 568px) {
      margin: auto;
      width: auto;
    }
    @media (max-width: 768px) {
      padding: 1rem 0 0 0;
    }
    a {
      display: block;
      color: $body-color;
      text-decoration: none;
      font-size: 20px;
      &:hover {
        color: black;
      }
      &:focus {
        color: black;
      }
    }
  }
}

.partners {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  &-inner {
    width: 100%;
    border-top: 1px dotted;
  }
}

.pull-left,
.pull-center,
.pull-right {
  -webkit-flex:1;
  -webkit-box-flex:1;
  -moz-flex:1;
  -moz-box-flex:1;
  -ms-flex:1;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;

  a {
    color: $body-color;
    text-decoration: none;
    font-size: 30px;
    @media (min-width: 768px) and (max-width: 992px) {
      &:first-child {
        font-size: 25px;
      }
    }
  }
}

.pull-left a {
  color: #d8d9d4;
}

.pull-left img,
.pull-right img {
  display: block;
  width: 90px;
  height: auto;
  margin: auto;

  @media (max-width: 480px) {
    width: 70px;
  }
}

.pull-center img {
  display: block;
  width: 100px;
  height: auto;
  margin: auto;

  @media (max-width: 480px) {
    width: 78px;
  }
}
