---
---

@import "flex";

$body-color: #20081b;
$text-font: rgba(254, 252, 253, 1);
$white: rgba(255, 255, 255, 0.9);
$blue: #045afa;
$bg-gradient: linear-gradient(to top, hsla(294.38, 85.71%, 21.96%, 0.39) 0%, hsla(294.49, 85.78%, 21.88%, 0.395) 9.9%, hsla(294.87, 85.99%, 21.61%, 0.411) 18.9%, hsla(295.46, 86.32%, 21.2%, 0.436) 26.4%, hsla(296.2, 86.74%, 20.71%, 0.466) 32.5%, hsla(297.03, 87.22%, 20.17%, 0.498) 37.7%, hsla(297.92, 87.73%, 19.62%, 0.531) 42.4%, hsla(298.87, 88.29%, 19.07%, 0.565) 47%, hsla(299.84, 88.87%, 18.52%, 0.599) 51.7%, hsla(300.84, 89.61%, 18.2%, 0.631) 56.8%, hsla(301.8, 90.36%, 17.94%, 0.663) 62.4%, hsla(302.71, 91.08%, 17.7%, 0.692) 68.7%, hsla(303.54, 91.75%, 17.49%, 0.718) 75.9%, hsla(304.25, 92.33%, 17.3%, 0.741) 83.9%, hsla(304.83, 92.81%, 17.15%, 0.759) 92.6%, hsla(305.19, 93.1%, 17.06%, 0.77) 100%);

@mixin gradient {
  background: #23A6D5;
  background: -moz-linear-gradient(-45deg, #EE7752, #af5fe4, #23A6D5, #23D5AB);
  background: -webkit-linear-gradient(-45deg, #EE7752, #af5fe4, #23A6D5, #23D5AB);
  background: -o-linear-gradient(-45deg, #EE7752, #af5fe4, #23A6D5, #23D5AB);
  background: -ms-linear-gradient(-45deg, #EE7752, #af5fe4, #23A6D5, #23D5AB);
  background: linear-gradient(-45deg, #EE7752, #af5fe4, #23A6D5, #23D5AB);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EE7752', endColorstr='#23D5AB', GradientType=1);
}

body {
  margin: 0px;
  font-family: "Roboto Condensed", sans-serif;
  color: $text-font;
  background: $body-color;
}

main {
  width: 100%;
}

.section {
  &-main {
    width: 100%;
    height: 100%;
  }
  &-info {
    position: absolute;
    top: 0;
    width: 100%;
  }
  &-content {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(stretch);
    @include align-items(center);
    height: auto;
    min-height: 100vh;
  }
}

.wrapper {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items(center);
  width: auto;
  height: auto;
  min-height: 100vh;
}

.header {
  text-align: center;
  margin-top: 30px;

  @media(min-width: 1200px) {
    margin-top: 60px;
  }
}

.logo-name {
  @include gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 600% 200%;
  -webkit-animation: gradient 15s ease infinite;
  -moz-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 8px;
  margin: 0;

  & > a {
    display: block;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    font-size: 50px;
    letter-spacing: 4px;
  }
  @media screen and (max-width: 568px) {
    white-space: nowrap;
  }
}

.arrow {
  width: 100%;
  height: 100px;
  display: block;
  text-align: center;
  cursor: pointer;

  &-down {
    fill: #00ffd3;
    width: 75px;
    height: 65px;

    &:hover {
      polygon {
        fill: #11f5ff;
        transition: all .2s ease-out;

        &.arrow-bottom {
          transform: translateY(-18px);
        }
        &.arrow-top {
          transform: translateY(18px);
        }
      }
    }
    polygon {
      transition: all .4s ease-out;

      &.arrow-middle {
        opacity: 0.75;
      }
      &.arrow-top {
        opacity: 0.5
      }
    }
  }
}

.information {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  margin: 0 auto;
  padding: 0.5rem 0;
  text-align: center;
  max-width: 450px;
  position: relative;
  margin-bottom: 30px;

  .check-in {
    color: $white;
    font-size: 20px;
    margin: 0;
    @media (max-width: 1240px) {
      font-size: 18px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      padding-right: 1.5rem;
    }
    @media screen and (max-width: 568px) {
      @include inline-flex;
      @include flex-flow(column wrap);
      padding-right: 0.5rem;
      & + a {
        margin: 0.5rem;
      }
    }
    & + a {
      display: block;
      width: 320px;
      margin: 0 auto;
      color: #a953d4;
      box-shadow: inset 0 0 0 2px #a953d4;
      text-transform: uppercase;
      padding: 0.6rem 0;
      font-size: 24px;
      border-radius: 9px;
      text-align: center;
      margin-top: 45px;

      &:hover, &:focus {
        color: #ea531c;
        box-shadow: inset 0 0 0 2px #ea531c;
      }
    }
  }
  a {
    text-decoration: none;
    font-size: 20px;
    vertical-align: middle;
    @media (max-width: 1240px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.calendar {
  display: block;
  width: 320px;
  height: auto;
  padding: 0.5rem;
  border-radius: 9px;
  box-sizing: border-box;
  margin: auto;
  color: #00ffd3;
  box-shadow: inset 0 0 0 2px #00ffd3;
  margin-bottom: 25px;

  &:hover {
    color: #11f5ff;
    box-shadow: inset 0 0 0 2px #11f5ff;
  }
  span {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
  }
}

span.time {
  color: #a953d4;

  .calendar:hover & {
    color: #ea531c;
  }
}

.location {
  display: block;
  width: 100%;
  margin: 20px auto;
  color: $white;

  img {
    width: 20px;
    vertical-align: bottom;
    @media (max-width: 768px) {
      width: 20px;
    }
  }
}

.reports {
  @include flex(1 1);
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 815px;
  box-sizing: border-box;

  h2 {
    text-align: center;
  }

  &-inner {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    margin: 0 auto 0.5rem;
    position: relative;

    &:first-child {
      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }
    &:last-child {
      p {
        text-align: center;
      }
    }
    img {
      display: block;
      width: 230px;
      height: 100%;
      -webkit-filter: brightness(1.15);
      filter: brightness(1.15);

      @media (max-width: 767px) {
        margin: auto;
        width: 180px;
      }
    }
    p {
      color: $text-font;
      text-align: left;
      letter-spacing: 0.7px;

      @media (max-width: 768px) {
        font-size: 1.2em;
      }
      @media screen and (max-width: 568px) {
        font-size: 1em;
      }
    }
  }
  &-block {
    @include flex(0 1 65%);
    text-align: center;
    text-shadow: 1px 1px 2px $body-color;
  }
  &-link {
    color: #00ffd3;
    text-decoration: none;

    &:hover {
      color: #11f5ff;
      text-decoration: underline;
    }
  }
}

footer {
  width: 100%;
}

ul {
  width: 100%;
  max-width: 960px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1.5rem 0;
  margin: 0 auto;
  @media (max-width: 700px) {
    -webkit-box-orient: vertical;
    webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-items: center;
    padding: 2rem 0;
  }
  li {
    list-style-type: none;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 30px;
    text-align: center;
    @media (min-width: 568px) {
      margin: auto;
      width: auto;
    }
    @media (max-width: 768px) {
      padding: 1rem 0 0 0;
    }
    a {
      display: block;
      color: $white;
      text-decoration: none;
      font-size: 20px;

      &:hover,
      &:focus {
        color: #a953d4;
      }
    }
  }
}

.partners {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-direction: row;

  &-inner {
    width: 100%;
    background: $bg-gradient;
  }
}

.pull-left,
.pull-center,
.pull-right {
  @include flex(1 150px);
  font-family: Arial, Helvetica, sans-serif;

  a {
    color: $body-color;
    text-decoration: none;
    font-size: 30px;
    @media (min-width: 768px) and (max-width: 992px) {
      &:first-child {
        font-size: 25px;
      }
    }
  }
}

.pull-left a {
  color: #d8d9d4;
}

.partners img {
  display: block;
  width: 100px;
  height: auto;
  margin: auto;

  @media (max-width: 480px) {
    width: 60px;
  }
}

canvas{
  display: block;
  vertical-align: bottom;
}

#particles-js{
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: $body-color;
  }

  // keyframes
  @-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
