---
---

body {
  overflow-x:hidden;
  margin: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.header {
  background-color: #b27d38;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: 0 auto;

  p {
    font-size: 25px;
  }
  div.name-logo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 8px;

    @media (max-width: 768px) {
      font-size: 40px;
      letter-spacing: 4px;
    }

  }

}

.reports {
    padding: 0 15px;
    margin: 0 auto;

    .reports1 {
      margin: 0 auto;;
    }
    .reports2 {
      margin: 0 auto;;
    }

  .description-block {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
  }

  .image-block {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;

    img {
      border-radius: 100px;

    }
  }

  @media (min-width: 992px) {
    width: 970px;
  }
}


.all {
  display: block;
  min-height: 200px;
  margin: 0 auto;;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #74460a;
  width: 100%;

  p.check-in {
    color: #ffffff;
    font-size: 24px;

    a {
      color: #ffffff;
    }
  }

  ol#when {
    padding: 0px;

    li {
      display: inline-block;
      color: #ffffff;
      padding-top: 20px;
      width: 350px;
      text-align: left;
      margin-left: 55px;

      p {
        font-size: 20px;
        display: inline-block;
      }
      }

    #calendar img {
      width: 50px;
    }

    #time img {
      width: 50px;
    }

    #location img {
      width: 40px;
    }
  }
  }


footer {
  width: 100%;
  text-align: center;
  background-color: #0c0c0b;
  padding: 0;
  margin: 0 auto;
  line-height: 200px;

  div {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
    width: 450px;

    @media (max-width: 768px) {
      width: 385px;
    }

    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 30px;
    }
  }

}

div.pull-left a {
  color: #74460a;
}
