---
---

body {
  overflow-x:hidden;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d8d9d4;
}

.header {
  background-color: #6a6e79;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;

  a {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    img {
      max-width: 300px;

      @media (max-width: 768px) {
        max-width: 200px;
      }
      @media screen and (max-width: 568px) {
        max-width: 100px;
      }
    }
  }

  p {
    font-size: 25px;

    @media (max-width: 768px) {
      font-size: 16px;
      margin: 0 10px;
    }
    @media screen and (max-width: 568px) {
      font-size: 12px;
    }
  }

  div.name-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 8px;

    @media (max-width: 768px) {
      font-size: 30px;
      letter-spacing: 4px;
    }
    @media screen and (max-width: 568px) {
      font-size: 24px;
      white-space: nowrap;
    }
  }
}

.reports {
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 90%;
      box-sizing: border-box;
    }
    @media (max-width: 568px) {
      width: 90%;
    }

    .reports1 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .reports2 {
      margin-top: 40px;
      margin-bottom: 20px;
    }

  .description-block {
    vertical-align: middle;
    clear: right;
    margin-left: 225px;

    @media (max-width: 768px) {
      margin-left: 105px;
      font-size: 0.7em;
    }
    @media screen and (max-width: 568px) {
      margin-left: 0px;
      font-size: 0.6em;
    }
  }

  .image-block {
    h3 {
      margin-left: 225px;

      @media (max-width: 768px) {
        width: 65%;
        margin-left: 105px;
        font-size: 0.9em;
      }
      @media screen and (max-width: 568px) {
        margin-left: 65px;
        font-size: 0.7em;
      }
    }

    h3.topic {
      color: #ca7507;
    }

    img {
      border-radius: 100px;
      float: left;
      margin-top: 20px;

      @media (max-width: 768px) {
        width: 100px;
        margin-top: 5px;
      }
      @media screen and (max-width: 568px) {
        width: 60px;
        margin-top: 5px;
      }

    }
  }

  @media (min-width: 992px) {
    width: 970px;
  }
}


.all {
  display: block;
  margin: 0 auto;;
  padding-bottom: 20px;
  text-align: center;
  background-color: #ca7507;
  width: 100%;

  @media screen and (max-width: 568px) {
    padding-bottom: 5px;
  }

  p.check-in {
    color: #ffffff;
    font-size: 24px;

    @media (max-width: 1240px) {
      font-size: 18px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media screen and (max-width: 568px) {
      font-size: 10px;
    }

    a {
      color: #ffffff;
    }
  }

  ol#when {
    padding: 0px;

    li {
      display: inline-block;
      color: #ffffff;
      padding-top: 20px;
      width: 315px;
      text-align: left;
      margin-left: 55px;

      @media (max-width: 1240px) {
        width: 250px;
        margin-left: 10px;
      }
      @media (max-width: 768px) {
        width: 200px;
        margin-left: 10px;
      }
      @media screen and (max-width: 568px) {
        margin-left: 5px;
        width: 90px;
      }

      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;

        @media (max-width: 1240px) {
          font-size: 16px;
          margin-left: 10px;
        }
        @media (max-width: 768px) {
          font-size: 12px;
          margin-left: 10px;
        }
        @media screen and (max-width: 568px) {
          font-size: 10px;
          margin-left: 5px;
        }

        span {
          display: inline-block;
          width: 75%;
          vertical-align: middle;
        }
      }
    }

    #calendar img {
      width: 50px;
      vertical-align: middle;

      @media (max-width: 768px) {
        width: 25px;
      }
    }

    #time img {
      width: 50px;
      vertical-align: middle;

      @media (max-width: 768px) {
        width: 25px;
      }
    }

    #location img {
      width: 50px;
      vertical-align: middle;
      display: inline-block;

      @media (max-width: 768px) {
        width: 20px;
      }
    }
  }
  }


footer {
  width: 100%;
  line-height: 100px;
  text-align: center;
  background-color: #3a2f29;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 10px;
  }

  img {
    @media (max-width: 768px) {
      width: 50px;
    }
    @media screen and (max-width: 568px) {
      width: 40px;
    }
  }

  div.pull-left, .pull-center, .pull-right {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    margin-left: 12px;
    margin-bottom: 1em;

    @media (max-width: 768px) {
      width: 160px;
      margin-left: none;
    }
    @media screen and (max-width: 568px) {
      width: 90px;
    }

    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 30px;

      @media (max-width: 768px) {
        font-size: 12px;
      }
      @media screen and (max-width: 568px) {
        font-size: 9px;
      }
    }
  }

  div.meeting {
    border-top: 1px solid #aba299;
    display: block;
    width: auto;
    ul {
      margin: 5px 0px;
      width: 100%;
      padding-left: 0px;
      li {
        display: inline-block;
        margin-left: 40px;

        @media (max-width: 768px) {
          margin-left: 20px;
        }
        @media screen and (max-width: 568px) {
          margin-left: 10px;
        }

        a {
          color: #aba299;
          text-decoration: none;
          font-size: 20px;

          @media (max-width: 768px) {
            font-size: 12px;
          }
          @media screen and (max-width: 568px) {
            font-size: 9px;
          }
        }

      }
    }
  }

  div.pull-left a {
    color: #d8d9d4;
  }
}
