---
---

@import
  "app",
  "color.white",
  "menu",
  "theme_changer",
  "color.black",
  "layout",
  "typography"
;

div.content {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

  footer {
  margin-top: 10px;
  position: inherit;

  }

ul.photo {
  display: inline-block;
  li {
    display: inline-block;
  }
}

.foc {
  width: 150px;
  cursor:pointer;
  display:inline;
}
.foc:focus {
  width: auto;
  z-index:100;
  @media (max-width: 768px) {
    width: 500px;
  }
  @media screen and (max-width: 568px) {
    width: 300px;
  }
}

iframe {
  width: 776px;

  @media screen and (max-width: 768px) {
    width: 720px;
  }

  @media screen and (max-width: 568px) {
    width: 325px;
  }

  @media screen and (max-width: 320px) {
    width: 272px;
  }
}
