---
---

@import
  "app",
  "color.white",
  "menu",
  "theme_changer",
  "color.black",
  "layout",
  "typography"
;

div.content {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

  footer {
  margin-top: 10px;
  position: inherit;

  }

ul.photo {
  li {
    display: inline-block;
  }
}

.foc {
  width: 150px;
  cursor:pointer;
  display:inline;
}
.foc:focus {
  width: auto;
  z-index:100;
}
