body.dark {
  color: #f5f5f5;
  background: #212020;

  header.header {
    border-bottom-color: #b1b1b1;
  }

  footer {
    border-top-color: #b1b1b1;
  }

  h2 {
    color: #b3e2dc;
  }

  .date {
    color: #b1b1b1;
  }

  a {
    color: #cec4e2;
  }

  a.theme_changer {
    color: #f5f5f5;
  }

  .show-action-link {
    color: #212121;
    background: #393939;
    border-color: #505050;
  }
}
