.menu {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
    a {
      display: inline-block;
      line-height: 3em;
      padding: 0 1em;
    }

    & a {
      &:before { content: "[" }
      &:after { content: "]" }
    }
  }
}
